.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("dos.jpg");
    background-size: cover;
}

form {
  width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: absolute;
}

form > h1 {
  color: #757575;
  font-size: 40 px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

input[type=text],
input[type=password] {

  width: 100%;
    height: 35px;
    border-radius: 25px;
    border: none;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #8E8A92;
    font-size: 14px;
    outline: none;
}

input[type=submit] {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color:#0F9F93;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

input[type=submit]:hover {
  opacity: 0.6;
}

