.welcome-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    align-items: center;
    background-color: #A5D5D0 ;
}

.table-content {
    display: flex;
    flex-direction: column;  
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

.rigth-align {
    text-align: right;
}

h1{
    color: #B9B16B;
}

h2{
    color: #0F9F93;
}